<h1><%= Comment.model_name.human %></h1>

<table>
  <thead>
  <tr>
    <th><%= Comment.human_attribute_name(:user) %></th>
    <th><%= Comment.human_attribute_name(:created_at) %></th>
    <th><%= Comment.human_attribute_name(:comment) %></th>
  </tr>
  </thead>

  <tbody>
<% if commentable.comments.any? %>
  <% commentable.comments.each do |comment| %>
    <% if comment.user.name.present? %>
        <tr class = comment>
          <td><%= comment.user.name %></td>
    <% else %>
          <td><%= comment.user.email %></td>
    <% end %>
        <td><%= comment.created_at %></td>
        <td><%= comment.comment %></td>
      </tr>
  <% end %>
<% end %>
  </tbody>
</table>

<%= form_with(model:[commentable, Comment.new] , local: true) do |form| %>
  <%= form.label :comment %>
  <%= form.text_area :comment, required: true %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>