<% if @comment.user == current_user %>
  <%= form_with(model:[@commentable, @comment], local: true) do |form| %>
    <%= form.label :comment %>
    <%= form.text_area :comment, required: true %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% else %>
  <p id="alert">このコメントは編集できません</p>
<% end %>

<%= link_to t('views.common.back'), [@commentable]  %>
