<h1>ユーザー情報</h1><br />

<p>ユーザー名</p>
<%= @user.name %>

<p>メールアドレス</p>
<%= @user.email %>

<p>郵便番号</p>
<%= @user.postal_code %>

<p>住所</p>
<%= @user.address %>

<p>自己紹介文</p>
<%= @user.self_introduction %>
<br />

<%= link_to t('views.common.back'), :back %>